<!---->
<header>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">CompareMe</a>
      <ul class="right hide-on-med-and-down">
        <a class="waves-effect waves-light btn" (click)="logout()" *ngIf="isValidUser">Logout</a>
        <a class="waves-effect waves-light btn" (click)="openModal('login')" *ngIf="!isValidUser">Login</a>
        <a class="waves-effect waves-light btn" (click)="openModal('register')" *ngIf="!isValidUser">Register</a>
      </ul>

      <!--<ul id="nav-mobile" class="side-nav">-->
        <!--&lt;!&ndash;{% if session.logged_in %}&ndash;&gt;-->
        <!--<a class="waves-effect waves-light btn" href="/logout">Logout</a>-->
        <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
        <!--<a class="waves-effect waves-light btn" href="#modal-login">Login</a>-->
        <!--<a class="waves-effect waves-light btn" href="#modal-register">Register</a>-->
        <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
      <!--</ul>-->
      <!--<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>-->
    </div>
  </nav>

  <div id="modal1" class="modal" materialize="modal"
       [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content" (keydown.esc)="closeModal()">
      <div class="row">
        <form class="col s12" action="/login" method="POST">
          <div class="row">
            <div class="input-field col s4" *ngIf="register">
              <input id="name" [(ngModel)]="user.name" name="name" type="text" class="validate" required>
              <label for="name" data-error="wrong">Name</label>
            </div>
            <div class="input-field col {{register?'s4':'s6'}}">
              <input id="email" [(ngModel)]="user.email" name="email" type="email" class="validate" required>
              <label for="email" data-error="wrong">Email</label>
            </div>
            <div class="input-field col {{register?'s4':'s6'}}">
              <input id="password" [(ngModel)]="user.password" type="password" name="password" class="validate" required>
              <label for="password">Password</label>
            </div>
            <div class="row">
              <div class="input-field col s2 offset-s3">
                <button class="btn waves-effect waves-light" type="submit" name="action"
                        (click)="checkCredentials()"
                >Submit
                  <i class="material-icons right">send</i>
                </button>
              </div>
              <div class="input-field col s2 offset-s2">
                <button class="btn waves-effect waves-dark red" name="action" (click)="closeModal()">Cancel
                  <i class="material-icons right">cancel</i>
                </button>
              </div>
            </div>
            <div class="row" *ngIf="message">
              <div class="col s12 m2">
                <small class="center red-text text-darken-2">
                  {{message | uppercase}}
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<!--<div *ngIf="isValidUser">-->
<div class="row flex-s">
  <div class="col s12 m12 l2 box-message-log">
    <app-instruction-log></app-instruction-log>
  </div>
  <div class="col s12 m12 l8 box-instruction">
    <app-instruction></app-instruction>
  </div>
  <div class="col s12 m12 l2 box-databases">
    <app-database-list></app-database-list>
  </div>
</div>
<!--</div>-->
