@media (max-width: 992px) {
  .flex-s {
    display: flex;
    flex-direction: column; /* Stack on top */
  }
  .box-message-log {
    order: 1;
  }
  .box-instruction {
    order: 3;
  }
  .box-databases {
    order: 2;
  }
}
